{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/ecommapp/style.css">
    <title>{{product.name}}</title>
</head>
<body>
    <ul>
        <li>
            <h2>{{product.name}}</h2>
            <p>{{product.description}}</p>
            <p>Price: Kshs. {{product.price}}</p>
            <img src="{{product.image.url}}" alt="{{product.name}}">
            <p>Available? {{product.availability|yesno: "Yes,No"}}</p>
        </li>
        <a href="{% url 'ecommapp:product_list' %}" class="backlink">Back to product list</a>
    </ul>
</body>
</html>